* {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    gap: 10px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: violet;
}

.sidebar {
    background-color: violet;
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 4;
}

.nav {
    background-color: violet;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.ads {
    background-color: violet;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 12;
}

.main {
    background-color: violet;
    grid-column: 4/10;
    grid-row: 3/12;
}

.footer {
    background-color: violet;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 13;
}

@media (max-width:720px){
    .nav{
        grid-column: 1/13;
    }
    .sidebar{
        grid-row: 3/12;
    }
    .main{
        grid-column: 4/13;
        grid-row: 3/12;
    }
    .ads{
        grid-column: 1/4;
        grid-row: 12/13;
    }
    .footer{
        grid-column: 4/13;
    }
}