body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #000000;
    color: #1a1a1a;
    margin: 0;
}

#title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #1DCD9F;
    margin-top: -80px;
}

#title h4 {
    text-align: center;
    font-size: 18px;
    color: #169976;
    margin-top: -20px;
    margin-bottom: 40px;
}

.members {
    background-color: #222222;
    border: none;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.5s ease;
}

.members:hover {
    transform: translateY(-8px);
    box-shadow: whitesmoke 0px 5px 30px;
}

#card {
    height: auto;
    width: 80%;
    margin: 1px auto;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: space-evenly;
    gap: 70px;
    z-index: 0;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.members h1 {
    font-size: 24px;
    margin: 16px 0 10px;
    color: #1DCD9F;
}

.members p {
    font-size: 15px;
    line-height: 1.6;
    color: #169976;
}

.sidebar {
    position: fixed;
    height: 120vh;
    background-color: #169976;
    width: 15%;
    left: -300px;
    transition: all 0.3s linear;
    z-index: 1;
}

.sidebar .header {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

.sidebar img {
    height: 25px;
    position: relative;
    top: 30px;
    left: 25px;
}

.sidebar h2 {
    position: relative;
    left: 35px;
    top: 10px;
    text-align: center;
}

.sidebar .sidebar-links ul li {
    list-style: none;
    padding-bottom: 35px;
    padding-left: 20px;
    font-weight: 700;
    font-size: large;
}

.sidebar .sidebar-links ul li:hover {
    box-shadow: 0 0 10px rgb(40, 33, 33);
    border: 2px solid whitesmoke(213, 199, 199);
    border-radius: 5px;
    font-size: 22px;
    color: white;
}

.sidebar .sidebar-links ul {
    padding: 0;
}

#check:checked~.sidebar {
    left: 0;
}

.toggle {
    position: fixed;
    top: 30px;
    left: 25px;
    z-index: 2;
    cursor: pointer;
    transition: left 0.3s linear;
}

.toggle img {
    height: 25px;
    color: white;
}

#check {
    display: none;
}

#check:checked~.toggle {
    left: 130px;
}